.formularioRegistro{
    padding-left: 2%;
    padding-right: 70%;
    margin-top: 3%;
}
.btn_guardar{

    margin-top: 4%;
}
.tablaDeUser{
    padding-left: 2%;
    padding-right: 70%;
    margin-top: 5%;
}